# .github/workflows/streamlit-app.yml
name: Deploy Streamlit App

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streamlit/streamlit-app-action@v0.0.3
        with:
          app-path: app_streamlit.py
          # Le token est géré automatiquement après l'autorisation
